<!DOCTYPE html>
<html lang="en">
<head>
    <title>layout</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/")style.css">
</head>
<body class="contact-page">
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-2 order-lg-1">
                        <div class="site-branding">
                            <div class="site-title">
                                <a href="#"><img src="@Url.Content("~/Content/Template/")images/uet1.PNG" alt="logo"></a>
                            </div><!-- .site-title -->
                        </div><!-- .site-branding -->
                    </div><!-- .col -->

                    <div class="col-2 col-lg-7 order-3 order-lg-2">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="~/Views/Home/About.cshtml">About us</a></li>
                                <li><a href="#">Event Gallery</a></li>
                                <li><a href="#">Register</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->
                    </div><!-- .col -->

                    <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">

                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .header-bar -->
        <div class="page-header contact-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <h1 class="entry-title">Event Management System</h1>
                        <h4>for Societies of UET</h4>

                    </div>
                </div>
            </div>
        </div>
    </header><!-- .site-header -->
    <div class="container">
        <div class="row elements-wrap">
            <div class="col-12">
                <header class="entry-header elements-heading"></header>
            </div>
        </div>
    </div>
    <div>@RenderBody()</div>
    <div class="container">
        <div class="row elements-wrap">
            <div class="col-12">
                <header class="entry-header elements-heading"></header>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">


                    <h1 class="entry-title">Events</h1>



                    <nav class="footer-navigation">

                    </nav>

                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script><a> All rights reserved </a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->


                </div>
            </div>
        </div>
    </footer>



    <div class="back-to-top flex justify-content-center align-items-center">
        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1395 1184q0 13-10 23l-50 50q-10 10-23 10t-23-10l-393-393-393 393q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l466 466q10 10 10 23z" /></svg></span>
    </div>

    <script type='text/javascript' src='@Url.Content("~/Content/Template/")/js/jquery.js'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Template/")js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Template/")js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Template/")js/swiper.min.js'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Template/")js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Template/")js/circle-progress.min.js'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Template/")js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Template/")js/custom.js'></script>

</body>
</html>